* {
	box-sizing: border-box;
	font-family: Work Sans;
	color: white;
	text-align: justify-all;
	scroll-behavior: smooth;

}




body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	height: 100vh;
	overflow-x: hidden;
}

.get_load {
	position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #FCFCFB;
  background-image: url('../images/animation website.gif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sidenav{background-color:#111;height:100%;left:0;overflow-x:hidden;padding-top:60px;position:fixed;top:0;transition:.5s;width:0;z-index:999;}
.sidenavR{background-color:#111;height:100%;overflow-x:hidden;padding-top:60px;position:fixed;right:0;top:0;transition:.5s;width:0;z-index:999;}
.sidenav a,.sidenavR a{color:#818181;display:block;font-size:25px;padding:8px 8px 8px 32px;text-decoration:none;transition:.3s;}
.sidenav a:hover,.offcanvas a:focus,.sidenavR a:hover,.offcanvas a:focus{color:#f1f1f1;}
.sidenav .closebtn,.sidenavR .closebtn{font-size:36px;margin-left:50px;position:absolute;right:25px;top:0;}


@media screen and (max-width:1200px) {
.sidenav,.sidenavR{padding-top:15px;}
.sidenav a,.sidenavR a{font-size:18px;}
}

@media screen and (max-width: 1024px) {
.sidenavR {
	display: none;
}
.nav1 {
	display: none;
}

}
.sidenav{background-color:#111;height:100%;left:0;overflow-x:hidden;padding-top:60px;position:fixed;top:0;transition:.5s;width:0;z-index:999;}
.sidenavR1{background-color:#111;height:100%;overflow-x:hidden;padding-top:60px;position:fixed;right:0;top:0;transition:.5s;width:0;z-index:999;}
.sidenav a,.sidenavR1 a{color:#818181;display:block;font-size:25px;padding:8px 8px 8px 32px;text-decoration:none;transition:.3s;}
.sidenav a:hover,.offcanvas a:focus,.sidenavR1 a:hover,.offcanvas a:focus{color:#f1f1f1;}
.sidenav .closebtn,.sidenavR1 .closebtn{font-size:36px;margin-left:50px;position:absolute;right:25px;top:0;}

.nav2 {
	display: none;
}
@media screen and (max-width:1200px) {
.sidenav,.sidenavR1{padding-top:50px;}
.sidenav a,.sidenavR1 a{font-size:2.5em;}

}

@media screen and (max-width: 1024px) {
.sidenavR1 {
	display: block;
}
.nav2 {
	display: block;
}
	
}
.menu {
	/*position: fixed;*/
	text-align: center;
  color: #fff;
  position: absolute;
  top: 20px;
  bottom: 0;
/*  left: 0;
  right: 0;*/
  margin: auto;
  z-index: 2;
}

.logo {
	width: 80px;
	height: 80px;
}

@media screen and (max-width: 576px) {
	.logo {
		width: 50px;
		height: 50px;
	}
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background:  no-repeat center;
}
.bg-video-wrap_1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  background:  no-repeat center;
}
.bg-video-wrap_2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  background:  no-repeat center;
}

.bg-video-wrap_3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  background:  no-repeat center;
}
.v1, .v2, .v3{
  min-width: 100%;
  min-height: 100%;
  z-index: 1;  
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

right: 0;
bottom: 0;
}

.v4 {
  width: 100%;
  height: 100%;
/*  z-index: 1;  
*/
  /*transform: translate(-50%, -50%);*/
  /*position: absolute;
  left: 50%;
  top: 50%;*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;
  background-size: cover;

right: 0;
bottom: 0;*/
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.6) 50%, rgba(0,0,0,.6) 50%);
  /*background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);*/
  background-size: 3px 3px;
  z-index: 2;
}
.content {
	line-height: 6em;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 100%;
  width: 100%;
  height:20%;
}

.content_1 {
	line-height: 6em;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 100%;
  width: 100%;
  height:20%;
}


.content p {
	font-family: Work Sans;
	font-size: 5.3em;
	font-weight: bold;
}

.banner2 {
	background-color: #000a12;
	display: none;
}

.banner2 p {
	font-family: Work Sans;
	font-size: 5.1em;
	font-weight: bold;
	color: white;
}

.contactsec_1 {
	display: none;
}

@media screen and (max-width: 1024px) {
	
	.bg-video-wrap,.bg-video-wrap_3 {
		height: 30vh;
	}

	.content {
		display: none;
	}

	.banner2 {
		display: block;
	}
	.content_1 {
		display: none;
	}
	.contactsec_1 {
			display: block;
	}

	.banner2 p {
		font-size: 2em;
	}

}

/*slider*/

.choose {
	background-image: url('../images/PNG WEBSITE BG.png');
	background-repeat: no-repeat;
	background-size: cover;

}
.choose  h2{
	font-weight: bold;
	font-size: 3em;
}
.choose  p {
	font-size: 2em;
}


@media screen and (max-width: 576px) {

	.choose  h2 {
		font-size: 2em;
	}

	.choose  p {
		font-size: 1em;
	}
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.glide__slide {
position: relative;
	width: 500px;
	height: 200px;
  border: none;
  padding: 0 10px;
  /*line-height: 100px;*/
  margin: 0;	
  z-index: 1;

  text-align: center;
}

.glide__slide:after {
	position: absolute;
	bottom: 0;
	left: 10px;
	content: ' ';
	width: 0px;
	height: 900px;
	border-bottom: 5px solid white;
	z-index: 1;
	transition: all 1s ease;
}

.glide__slide:hover:after {
	left: 10px;
	width: 370px;
	height: 900px;
	transition: all 1s ease;

}

.glide__slide a:active  .glide__slide:hover:after{
	width: 360px;
	height: 900px;
	transition: all 1s ease;
}
/*.glide__slide:hover img {
	transform: scale(1);
}*/

.overlay_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.4) 50%, rgba(0,0,0,.4) 50%);
  /*background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);*/
  background-size: 3px 3px;
  z-index: 2;
}

 .glide__slide p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 1.5em;
	}
.glide__slide a {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 1em;
	text-decoration: none;
	/*font-size: 15px;*/
}


.downslide2 {
	display: none;
}

.downslide2 .slider-wrapper p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 4em;
}

.downslide2 .slider-wrapper a {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 3em;
	/*font-size: 15px;*/
}
.downslide2 .glide__slide p{
	font-size: 2.5em;

}
@media screen and (max-width: 1024px) {
	 


	 .upslide1 {
	 	display: none;
	 }
	 .downslide2 {
	 	display: block;
	 }
}


@media screen and (max-width: 768px) {

	.downslide2 .slider-wrapper a {
		font-size: 2em;
	}
	.downslide2 .slider-wrapper p{
		font-size: 2.5em;
	}
}
@media screen and (max-width: 576px) {

.downslide2 .slider-wrapper a {
	font-size: 1.5em;
}
.downslide2 .slider-wrapper p{
	font-size: 2em;
}

}

@media screen and (max-width: 375px) {

.downslide2 .slider-wrapper a {
	font-size: 1em;
}
.downslide2 .slider-wrapper p{
	font-size: 1.5em;
}

}


/*client*/

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.client h2 {
  font-weight: bold;
  font-size: 3em;
}
.client p {
  font-size: 2em;
}

@media screen and (max-width: 576px) {
	.client h2 {
  font-weight: bold;
  font-size:2em;
}
.client p {
  font-size: 1em;
}
}
  .sub-text { 
    font-family: 'Work Sans', "Arial", sans-serif; 
    font-size: 24px; 
}
  .owl-theme .owl-controls .owl-buttons .owl-prev { 
    margin-left: -6%; 
}
  .owl-theme .owl-controls .owl-buttons .owl-next { 
    margin-right: -5%; 
}

 .owl-carousel.main-carousel h2 { 
    font-family: 'Source Sans Pro', "Arial", sans-serif; 
    font-size: 50px; 
    line-height: 1; 
}
  .owl-carousel.main-carousel h2 span { 
    font-size: 53px; 
    font-weight: 600; 
}
  .main-carousel .slider-img { 
    width: 100%; 
}
  .main-carousel .slider-img img { 
    margin: auto 0; 
}
  .carousel-wrap { 
    margin: 90px auto; 
    padding: 0 5%; 
    width: 80%; 
    position: relative; 
}

.carousel-control { 
  background: none !important; 
}

/* fix blank or flashing items on carousel */
.owl-carousel .item { 
  position: relative; 
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}
.owl-carousel.main-carousel .owl-dots { 
  text-align: center; 
  padding-top: 10px; 
}

/*-----slider-------*/
.owl-carousel.main-carousel .owl-dots .owl-dot { 
  border-radius: 50%; 
  width: 15px; 
  height: 15px; 
  margin-left: 2px; 
  margin-right: 2px; 
  background: #ccc; 
  border: none; 
}

.owl-carousel.main-carousel .owl-dots .owl-dot.active, .owl-carousel.main-carousel .owl-dots .owl-dot:hover { 
  background: #F0B734;
  border:1px solid white; 
}
.owl-nav > div { 
  margin-top: -26px; 
  position: absolute; 
  top: 50%; 
  color: #cdcbcd; 
}
.owl-nav i { 
  font-size: 52px; 
}
div.owl-buttons { 
  display: table; 
  height: 15vh; 
}
.owl-buttons { display: block; }

.owl-carousel:hover .owl-buttons { display: block; }

.carousel-inner { overflow: visible; }

.owl-item { text-align: center; }

.owl-theme .owl-controls .owl-buttons div { background: transparent; color: #869791; font-size: 40px; line-height: 300px; margin: 0; position: absolute; top: 0; }

.owl-theme .owl-controls .owl-buttons .owl-prev { left: 0; margin-left: -8%; }

.owl-theme .owl-controls .owl-buttons .owl-next { right: 0; margin-right: -8%; }

.slide1 p{
	font-size: 1.5em;
}


.services  h2 {
  font-weight: bold;
  font-size: 3em;
}
.services p {
  font-size: 2em;
}


@media screen and (max-width: 576px) {
	.services  h2 {
  font-weight: bold;
  font-size: 2em;
}
.services p {
  font-size: 1em;
}
}
/*@media screen and (max-width: 1024px) {
	.services h2 {
	  font-weight: bold;
	  font-size: 3em;
		}
	.services p {
	  font-size: 2.5em;
	  text-align: justify;
	}
	.services .slider-wrapper h2 {
		font-size: 3.5em;
	}

	.services .slider-wrapper h2 span{
		font-size: 1em;
	}
	.services .slider-wrapper p{
		font-size: 2.5em;
	}
}*/



.ofc p {
	font-size: 2em;
}


.ofc a {

	text-decoration: none;
}
.ofc a p {
	font-size: 2em;
}

.ofc h5 {
	font-size: 2em;
}
.ofc .explore {
	transition: 1s all;
	letter-spacing: 0.5px;
	width: 100%;
	font-size: 1.5em;
	border:1px solid white;
}
.ofc .explore:hover, .ofc .explore:active {
	background-color: #F0B734;
	border: none;
	transition: 1s all;
}

@media screen and (max-width: 576px) {
	.ofc p {
		font-size: 1.2em;
	}
	.ofc h5 {
		font-size: 1em;
	}
	.ofc a p {
		font-size: 1.2em;
	}

	.ofc .explore {
		font-size: 1em;
	}
}
.contactsec .contactsecbtn {
	transition: 1s all;
	letter-spacing: 0.5px;
	width: 70%;
	font-size: 1.5em;
	border:1px solid white;
}
.contactsec .contactsecbtn:hover, .contactsec .contactsecbtn:active {
	background-color: #F0B734;
	border: none;
	transition: 1s all;
}

.contactsec .content_1 p {
	font-size: 3em;

}


.contactsec_1 .contactsecbtn {
	transition: 1s all;
	letter-spacing: 0.5px;
	width: 100%;
	font-size: 1.5em;
	border:1px solid white;
}
.contactsec_1 .contactsecbtn:hover, .contactsec_1 .contactsecbtn:active {
	background-color: #F0B734;
	border: none;
	transition: 1s all;
}

.contactsec_1 p {
	font-size: 3em;

}

@media screen and (max-width: 576px) {
	.contactsec_1 .contactsecbtn {
		font-size: 1em;
	}

	.contactsec_1 p {
		font-size: 2em;
	}
}

.map {
	font-size: 1em;
}
.map p {
	color: #F0B734;
}
.map p i{
	color: #F0B734;
}

.drop h2 {
	font-family: Poppins;
	font-size: 3em;
}

.drop a {
	font-size: 1.3em;
	font-family:Poppins;
	color: #00ACC1;

}

@media screen and (max-width: 576px){
	.drop h2 {
		font-size: 2em;
	}
}



.c_slide2 {
	display: none;
}
@media screen and (max-width: 1024px) {
	.c_slide1 {
		display: none;
	}
	.c_slide2 {
		display: block;
	}
}

.more {
	background-color: transparent;
	border: 2px solid #F0B734;
	color: white;
}

.more:hover {
	color: white;
}

@media screen and (max-width: 1024px) {
	.more {
		font-size: 2em;
	}
}

      /*aboutus*/

.panel-heading:hover {
    cursor:pointer;
}
.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.side-tab:hover {
        cursor: pointer;
    }
.panel.panel-default {
    border: none;
    box-shadow: none !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}
.panel-heading {
    border: none;
    background-color: #eee;

}
.panel-body {
    background-color: #f5f5f5;
}
.panel-title {
    font-weight: 400;
    color: $white;
}



.insta, .face, .tweet,.linked,  .social {
	background-color: white;
	border-radius: 50%;
	height: 250px;
	width: 250px;
}

@media screen and (max-width: 1024px) {
	.insta, .face, .tweet,.linked,  .social {
	width: 100%;

	border-radius: 0%;
	
}
}

.insta h4 , .face h4, .tweet h4,.linked h4,  .social h4 {
	color: black;
}

.insta h6 , .face h6, .tweet h6,.linked h6,  .social h6 {
	color: black;
}

.insta p , .face p, .tweet p,.linked p,  .social p {
	color: black;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

.v3 {
	width: 100%;
	height: auto;
}

/*.wrapper{
    display:table;
    width:auto;
    position:relative;
    width:50%;
}*/
.playpause {
    background-image:url('../images/button.png');
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    z-index: 2;
    background-size:contain;
    background-position: center;
}

.box{
    background: linear-gradient(180deg, #F0B734 0%, #F0B734 100%);
    font-family: 'Nanum Gothic', sans-serif;
    /*border-radius: 25px 0;*/
    position: relative;
    overflow: hidden;
}
.box:before,
.box:after,
.box .box-content:before,
.box .box-content:after{
    content: "";
    background: #000;
    width: 50%;
    height: 4px;
    transform: scaleX(0);
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    transition: all 600ms ease;
}
.box:after{
    top: auto;
    bottom: 15px;
    left: auto;
    right: 15px;
}
.box .box-content:before,
.box .box-content:after{
    width: 4px;
    height: 50%;
    transform: scaleY(0);
}
.box .box-content:after{
    left: auto;
    right: 15px;
    top: auto;
    bottom: 15px;
}
.box:hover:before,
.box:hover:after,
.box:hover .box-content:before,
.box:hover .box-content:after{
    transform: scale(1);
}
.box img{
    width: 100%;
    height: auto;
    transform: scale3d(1.1, 1.1, 1);
    transition: all 0.25s linear;
}
.box:hover img{
    opacity: 0.25;
    transform: scale(1.25);
}
.box .inner-content{
    color: #000;
    text-align: center;
    width: 70%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 70%;
    left: 50%;
    transition: all 600ms ease;
}
.box:hover .inner-content{
    opacity: 1;
    top: 50%;
}
.box .title{
	color: #000;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 3px;
}
.box .post{
	color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 12px;
    display: block;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon li{
    display: inline-block;
    margin: 0 4px;
}
.box .icon li a{
    color: #F0B734;
    font-size: 18px;
    line-height: 32px;
    height: 35px;
    width: 35px;
    border: 2px solid #000;
    /*border-radius: 10px 0 10px 0;*/
    display: block;
    transition: all 0.3s;
}
.box .icon li a i:hover {
	color: #F0B734;
}
.box .icon li a:hover{
    color: #F0B734;
    background: #000;
    /*border-radius: 0 10px 0 10px;*/
}
@media only screen and (max-width:990px){
    .box { margin: 0 0 30px; }
}

.about-service {
	box-shadow: 2px 2px 7px grey,-2px -2px 7px grey;
}

.team {
	background-color: white;
	color: black;
}

/*service*/


.ser2 {
	display: none;
}

@media screen and (max-width: 1024px) {
	.ser1 {
		display: none;
	}

	.ser2 {
		display: block;
	}
}


/*contact*/
.coonect {
	height: 100vh;

}
.head {
	font-size: 3em;
}

.subhead {
	font-size: 2em;
}


@media screen and (max-width: 576px) {
	.head {
		font-size: 2em;
	}

	.subhead {
		font-size: 1em;
	}


}



.form-group .form-control {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0;
	color: white;
	transition: 0.5s all;
}

.form-group .form-control:focus {
	box-shadow: 0 0 0 transparent;
}

.form-group .form-control::placeholder {
	color: white;
}

.form-group .form-control:focus {
	transition: 0.5s all;
	border-bottom: 1px solid #F0B734;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
}

#checkboxes label {
  display: block;
}

input[type=checkbox]{
	display: none;
}
input[type=checkbox] + label{
	padding: 10px;
	color: white;
}
input[type=checkbox]:checked + label{
	background-color: white;
	color: black;
}




.policy {
	font-size: 1.2em;
}

.message h3 {
	font-size: 3em;
}

.message p {
	font-size: 1.3em;
}

@media screen and (max-width: 576px) {
	.message h3 {
		font-size: 2em;
	}
}


.btn {
	border: 1px solid white;
	color: white;
	width: 50%;
}

.btn:hover {
	color: white;
}



/*footer*/

.icon_1 a {

	border: 1px solid white;
	padding: 15px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	transition: 0.5s all;

}

.icon_1 a i {
	font-size: 18px;
}

.icon_1 a:hover{
	border: 1px solid #F0B734;
	color: #F0B734;
	transition: 0.5s all;

}

.icon_1 a:hover i{
	transition: 0.5s all;
	color: #F0B734;
}



.company {
	font-size: 1.5em;
}

.link a {
	font-size: 1em;
	color: white;
	border-right: 1px solid white;
	padding: 5px;
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.link a {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 576px) {
	.link a {
		font-size: 1.2em;
	}
}

/*thankyou*/

.thankyou {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: 100vh;

}
.thankyou h3 {
	font-size: 3em;
}

.thankyou p {
	font-size: 2em;
}

@media screen and (max-width: 576px) {
	.thankyou h3 {
		font-size: 2em;
	}

	.thankyou p {
		font-size: 1em;
	}
}



