* {
	box-sizing: border-box;
	font-family: Work Sans;
	color: white;
	/*text-align: justify-all;*/
}


body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	height: 100vh;
	overflow-x: hidden;
}

.get_load {
	position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #FCFCFB;
  background-image: url('../images/animation website.gif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


hr {
	position: relative;
	width: 100%;
	height: 50px;
	z-index: 1;
}
hr:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 70%;
	height: 2px;
	background-color: white;
	z-index: -1;
	transition: all 1s ease;
}
.underline {
	position: relative;
	border: none;
	/*background-color: white;*/
	width: 150px;
	height: 50px;
	z-index: 1;
}

.underline:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 175px;
	height: 45px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}

@media screen and (max-width: 1024px) {
	.underline {
	position: relative;
	border: none;
	/*background-color: white;*/
	width: 150px;
	height: 50px;
	z-index: 1;
}
	.underline:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 280px;
	height: 65px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}
}

.underline_1 {
	position: relative;
	border: none;
	/*background-color: white;*/
	width: 200px;
	height: 50px;
	z-index: 1;
}

.underline_1:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 240px;
	height: 45px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}
.underline_2 {
	position: relative;
	border: none;
	/*background-color: white;*/
	width: 20px;
	height: 10px;
	z-index: 1;
}

.underline_2:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 115px;
	height: 30px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}

@media screen and (max-width: 1024px) {
	.underline_2:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 240px;
	height: 55px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}
}
.underline_3 {
	position: relative;
	border: none;
	/*background-color: white;*/
	width: 20px;
	height: 10px;
	z-index: 1;
}

.underline_3:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 80px;
	height: 35px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}

.underline_4 {
	position: relative;
	border: none;
	/*background-color: white;*/
	width: 20px;
	height: 10px;
	z-index: 1;
}

.underline_4:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 213px;
	height: 40px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}

@media screen and (max-width: 1024px) {
	.underline_4:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 300px;
	height: 55px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}
}

.underline_5 {
	position: relative;
	border: none;
	/*background-color: white;*/
	width: 20px;
	height: 10px;
	z-index: 1;
}

.underline_5:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 130px;
	height: 60px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}

@media screen and (max-width: 1024px) {
	.underline_5:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 200px;
	height: 85px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}
}
.underline_6 {
	position: relative;
	border: none;
	/*background-color: white;*/
	width: 150px;
	height: 50px;
	z-index: 1;
}

.underline_6:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 195px;
	height: 45px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}

@media screen and (max-width: 1024px) {
	.underline_6:after {
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	width: 320px;
	height: 70px;
	border-bottom: 10px solid #00acc1;
	z-index: -1;
	transition: all 1s ease;
}
}
.sidenav{background-color:#111;height:100%;left:0;overflow-x:hidden;padding-top:60px;position:fixed;top:0;transition:.5s;width:0;z-index:999;}
.sidenavR{background-color:#111;height:100%;overflow-x:hidden;padding-top:60px;position:fixed;right:0;top:0;transition:.5s;width:0;z-index:999;}
.sidenav a,.sidenavR a{color:#818181;display:block;font-size:25px;padding:8px 8px 8px 32px;text-decoration:none;transition:.3s;}
.sidenav a:hover,.offcanvas a:focus,.sidenavR a:hover,.offcanvas a:focus{color:#f1f1f1;}
.sidenav .closebtn,.sidenavR .closebtn{font-size:36px;margin-left:50px;position:absolute;right:25px;top:0;}
@media screen and max-height 450px {
.sidenav,.sidenavR{padding-top:15px;}
.sidenav a,.sidenavR a{font-size:18px;}
}
.menu {
	/*position: fixed;*/
	text-align: center;
  color: #fff;
  position: absolute;
  top: 20px;
  bottom: 0;
/*  left: 0;
  right: 0;*/
  margin: auto;
  z-index: 3;
}

.menu_1 {
	/*position: fixed;*/
	text-align: center;
  color: #fff;
  position: absolute;
  top: 20px;
  bottom: 0;
/*  left: 0;
  right: 0;*/
  margin: auto;
  /*z-index: 3;*/
}
.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background:  no-repeat center;
}
.bg-video-wrap_1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  background:  no-repeat center;
}
video {
  min-width: 100%;
  height: auto;
  z-index: 1;  
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

right: 0;
bottom: 0;
}


.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.6) 50%, rgba(0,0,0,.6) 50%);
  /*background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);*/
  background-size: 3px 3px;
  z-index: 2;
}
.content {
	line-height: 6em;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 100%;
  width: 100%;
  height:20%;
}

.content_1 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 100%;
  width: 100%;
  height:20%;
}


.content p {
	font-family: Work Sans;
	font-size: 5.3em;
	font-weight: bold;
}

.banner2 {
	background-color: #000a12;
	display: none;
}

.banner2 p {
	font-family: Work Sans;
	font-size: 5.1em;
	font-weight: bold;
	color: white;
}

.contactsec_1 {
	display: none;
}
@media screen and (max-width: 1024px) {
	.bg-video-wrap {
		height: 30vh;
	}
	.bg-video-wrap {
		height: 30vh;
	}
	video {
		/*height: 30vh;*/
	}
	.content {
		display: none;
	}

	.banner2 {
		display: block;
	}
	.content_1 {
		display: none;
	}
	.contactsec_1 {
			display: block;
	}

}

/*slider*/

.choose {
	background-image: url('../images/PNG WEBSITE BG.png');
	background-repeat: no-repeat;
	background-size: cover;

}
.choose  h2{
	font-weight: bold;
	font-size: 2.5em;
}
.choose .choose_1 p {
	font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
	.choose  h2{
	font-weight: bold;
	font-size: 4em;
}
.choose .choose_1 p {
	font-size: 3em;
}
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.glide__slide {
position: relative;
	width: 500px;
	height: 200px;
  border: none;
  /*line-height: 100px;*/
  margin: 0;	
  z-index: 1;

  text-align: center;
}

.glide__slide:after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 0px;
	height: 900px;
	border-bottom: 5px solid white;
	z-index: 1;
	transition: all 1s ease;
}

.glide__slide:hover:after {
	width: 390px;
	height: 900px;
	transition: all 1s ease;

}

.glide__slide a:active  .glide__slide:hover:after{
	width: 360px;
	height: 900px;
	transition: all 1s ease;
}
/*.glide__slide:hover img {
	transform: scale(1);
}*/

.overlay_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.4) 50%, rgba(0,0,0,.4) 50%);
  /*background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);*/
  background-size: 3px 3px;
  z-index: 2;
}

 .glide__slide p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.downslide2 {
	display: none;
}

.downslide2 .slider-wrapper p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 4em;
	font-weight: bold;
}

.downslide2 .slider-wrapper a {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 3em;
	/*font-size: 15px;*/
}
.downslide2 .glide__slide p{
	font-size: 2.5em;

}
@media screen and (max-width: 1024px) {
	 .glide__slide p {
	 	font-size: 2em;
	 }

	 .upslide1 {
	 	display: none;
	 }
	 .downslide2 {
	 	display: block;
	 }
}
.glide__slide a {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	color: white;
	font-size: 1.5em;
	/*font-size: 15px;*/
}



/*client*/

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.client h2 {
  font-weight: bold;
  font-size: 2.5em;
}
.client p {
  font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
	.client h2 {
  font-weight: bold;
  font-size:4em;
}
.client p {
  font-size: 3em;
}
}
  .sub-text { 
    font-family: 'Work Sans', "Arial", sans-serif; 
    font-size: 24px; 
}
  .owl-theme .owl-controls .owl-buttons .owl-prev { 
    margin-left: -6%; 
}
  .owl-theme .owl-controls .owl-buttons .owl-next { 
    margin-right: -5%; 
}

 .owl-carousel.main-carousel h2 { 
    font-family: 'Source Sans Pro', "Arial", sans-serif; 
    font-size: 50px; 
    line-height: 1; 
}
  .owl-carousel.main-carousel h2 span { 
    font-size: 53px; 
    font-weight: 600; 
}
  .main-carousel .slider-img { 
    width: 100%; 
}
  .main-carousel .slider-img img { 
    margin: auto 0; 
}
  .carousel-wrap { 
    margin: 90px auto; 
    padding: 0 5%; 
    width: 80%; 
    position: relative; 
}

.carousel-control { 
  background: none !important; 
}

/* fix blank or flashing items on carousel */
.owl-carousel .item { 
  position: relative; 
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}
.owl-carousel.main-carousel .owl-dots { 
  text-align: center; 
  padding-top: 10px; 
}

/*-----slider-------*/
.owl-carousel.main-carousel .owl-dots .owl-dot { 
  border-radius: 50%; 
  width: 15px; 
  height: 15px; 
  margin-left: 2px; 
  margin-right: 2px; 
  background: #ccc; 
  border: none; 
}

.owl-carousel.main-carousel .owl-dots .owl-dot.active, .owl-carousel.main-carousel .owl-dots .owl-dot:hover { 
  background: #00acc1;
  border:1px solid white; 
}
.owl-nav > div { 
  margin-top: -26px; 
  position: absolute; 
  top: 50%; 
  color: #cdcbcd; 
}
.owl-nav i { 
  font-size: 52px; 
}
div.owl-buttons { 
  display: table; 
  height: 15vh; 
}
.owl-buttons { display: block; }

.owl-carousel:hover .owl-buttons { display: block; }

.carousel-inner { overflow: visible; }

.owl-item { text-align: center; }

.owl-theme .owl-controls .owl-buttons div { background: transparent; color: #869791; font-size: 40px; line-height: 300px; margin: 0; position: absolute; top: 0; }

.owl-theme .owl-controls .owl-buttons .owl-prev { left: 0; margin-left: -8%; }

.owl-theme .owl-controls .owl-buttons .owl-next { right: 0; margin-right: -8%; }

.slide1 p{
	font-size: 1.5em;
}


.services h2 {
  font-weight: bold;
  font-size: 2.5em;
}
.services p {
  font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
	.services h2 {
	  font-weight: bold;
	  font-size: 4em;
		}
	.services p {
	  font-size: 3em;
	}
	.services .slider-wrapper h2 {
		font-size: 5em;
	}

	.services .slider-wrapper h2 span{
		font-size: 1em;
	}
	.services .slider-wrapper p{
		font-size: 3em;
	}
}

.Ideologies h2 {
	font-weight: bold;
	font-size: 2.5em;
}

.Ideologies p {
	font-size: 1.5em;
}
.Ideologies li {
	font-size: 1.2em;
	font-weight: bold;
}
@media screen and (max-width: 1024px) {
	.Ideologies h2 {
	font-weight: bold;
	font-size: 4em;
}

.Ideologies p {
	font-size: 3em;
}
.Ideologies li {
	font-size: 3em;
	font-weight: bold;
}
}

.ofc p {
	font-size: 2.2em;
}


.ofc a {

	text-decoration: none;
}
.ofc a p {
	font-size: 1.5em;
}
.ofc .explore {
	transition: 1s all;
	letter-spacing: 0.5px;
	width: 100%;
	font-size: 1.5em;
	border:1px solid white;
}
.ofc .explore:hover, .ofc .explore:active {
	background-color: #F0B734;
	border: none;
	transition: 1s all;
}

@media screen and (max-width: 1024px) {
	.ofc p {
	font-size: 3em;
}
.ofc h5 {
	font-size: 2.5em;
}
	.ofc a p {
		font-size: 3em;
	}

	.ofc .explore {
		font-size: 3em;
	}
}
.contactsec .contactsecbtn {
	transition: 1s all;
	letter-spacing: 0.5px;
	width: 70%;
	font-size: 1.5em;
	border:1px solid white;
}
.contactsec .contactsecbtn:hover, .contactsec .contactsecbtn:active {
	background-color: #F0B734;
	border: none;
	transition: 1s all;
}

.contactsec p {
	font-size: 3em;

}


.contactsec_1 .contactsecbtn {
	transition: 1s all;
	letter-spacing: 0.5px;
	width: 100%;
	font-size: 1.5em;
	border:1px solid white;
}
.contactsec_1 .contactsecbtn:hover, .contactsec_1 .contactsecbtn:active {
	background-color: #F0B734;
	border: none;
	transition: 1s all;
}

.contactsec_1 p {
	font-size: 3em;

}

@media screen and (max-width: 1024px) {
	.contactsec_1 .contactsecbtn {
		font-size: 2em;
	}

	.contactsec_1 p {
		font-size: 4em;
	}
}
.map p {
	color: #F0B734;
	font-size: 1.2em;
}
.map p i{
	color: #F0B734;
	font-size: 1.2em;
}

.drop h2 {
	font-family: Poppins;
	font-size: 4em;
}

.drop a {
	font-size: 1.3em;
	font-family:Poppins;

}
.link_2 {
	display: none;
}
.link_2 a {
	font-size: 2em;
}

@media screen and (max-width: 1024px) {
	.link_1 {
		display: none;
	}
	.link_2 {
		display: block;
	}

}
}




footer p {
	font-size: 1.3em;
	font-family: Poppins;

}


.c_slide2 {
	display: none;
}
@media screen and (max-width: 1024px) {
	.c_slide1 {
		display: none;
	}
	.c_slide2 {
		display: block;
	}
}
.icon_1 a i{
	border: 1px solid white;
	border-radius: 50%;
	font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 48px;
    color: #cfcfcf;
    opacity: 0.5;
}
.icon_1 a i:hover, .icon_1 a i:active{
	transition: 0.5s all;
    opacity: 1;
	color: white;
}
.fnav a{
	text-decoration: none;
	color: white;
	padding: 0 5px;
	border-right: 1px solid white;
	text-align: center;
}


@media screen and (max-width: 1024px) {
	.icon_1 a i{
	height: 80px;
    line-height: 80px;
	width: 80px;
	font-size:40px; 
}

.atrate {
	font-size: 2.5em;
}

.fnav a {
	border-right: 1.5px solid white;
	font-size: 2em;
}
}